.frosh-tools-tab-logs__logs-card {
    .sw-card__content {
        padding: 0;
    }

    .sw-card__toolbar {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 20px;
    }

    .sw-single-select {
        margin: 0;
    }
}
