.frosh-tab-logs {
    &__select {
        min-width: 280px;
        .sw-single-select { margin: 0; }
    }

    &__pagination {
        padding: 8px 12px;
        border-top: 1px solid var(--ft-divider);
    }

    &__modal-head {
        display: flex;
        flex-direction: column;
        gap: 4px;
        flex: 1;
    }

    &__modal-title {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    &__modal-date {
        font-size: 12px;
        color: var(--ft-text-muted);
    }

    &__message {
        white-space: pre-wrap;
        word-break: break-word;
        max-height: 50vh;
    }
}
