{% block sw_version_status %}
    <a :title="healthPlaceholder" class="sw-version__status" @click="openSystemStatus">
        {% block sw_version_status_badge %}
            <sw-color-badge v-if="health" :color="healthVariant" :rounded="true"></sw-color-badge>
        {% endblock %}
    </a>
{% endblock %}
