<sw-card-view>
    <!-- TODO Codemod: Converted from sw-card - please check if everything works correctly -->
    <mt-card
        class="frosh-tools-tab-index__health-card"
        :isLoading="isLoading"
        :large="true"
        positionIdentifier="frosh-tools-tab-index"
    >
        <template #toolbar>
            <!-- @todo: Make the refresh button fancy -->
            <!-- TODO Codemod: Converted from sw-button - please check if everything works correctly -->
            <mt-button
                variant="primary"
                ghost
                @click="refresh"
            >
                <!-- TODO Codemod: Converted from sw-icon - please check if everything works correctly -->
                <mt-icon
                    size="16px"
                    name="regular-undo"
                ></mt-icon>
            </mt-button>
        </template>
        <!-- TODO Codemod: Converted from sw-card - please check if everything works correctly -->
        <mt-card
            class="frosh-tools-tab-index__health-card"
            :title="$t('frosh-tools.tabs.index.title')"
            :large="true"
            positionIdentifier="frosh-tools-tab-index-health"
        >
            <template #grid>
            <sw-data-grid
                v-if="health"
                :showSelection="false"
                :showActions="false"
                :dataSource="health"
                :columns="columns"
            >
                <template #column-current="{ item }">
                    <template>
                        <sw-label
                            variant="warning"
                            appearance="pill"
                            v-if="item.state === 'STATE_WARNING'"
                        >
                            {{ $t('frosh-tools.warning') }}
                        </sw-label>
                        <sw-label
                            variant="danger"
                            appearance="pill"
                            v-if="item.state === 'STATE_ERROR'"
                        >
                            {{ $t('frosh-tools.error') }}
                        </sw-label>
                        <sw-label
                            variant="info"
                            appearance="pill"
                            v-if="item.state === 'STATE_INFO'"
                        >
                            {{ $t('frosh-tools.info') }}
                        </sw-label>
                    </template>

                    <template>
                        {{ item.current }}
                    </template>
                </template>

                <template #column-name="{ item }">
                    {{ item.snippet }}
                    <template v-if="item.url">
                        &nbsp;
                        <a
                            :href="item.url"
                            target="_blank"
                        >Info</a>
                    </template>
                </template>
            </sw-data-grid>
            </template>
        </mt-card>
        <!-- TODO Codemod: Converted from sw-card - please check if everything works correctly -->
        <mt-card
            class="frosh-tools-tab-index__performance-card"
            :title="$t('frosh-tools.tabs.index.performance')"
            :large="true"
            positionIdentifier="frosh-tools-tab-index-performance"
        >
            <!-- TODO Codemod: Converted from sw-alert - please check if everything works correctly -->
            <mt-banner
                v-if="performanceStatus && performanceStatus.length === 0"
                variant="positive"
            >
                {{ $t('frosh-tools.noRecommendations') }}
            </mt-banner>
            <template #grid>
            <sw-data-grid
                v-if="performanceStatus && performanceStatus.length > 0"
                :showSelection="false"
                :showActions="false"
                :dataSource="performanceStatus"
                :columns="columns"
            >
                <template #column-current="{ item }">
                    <template>
                        <sw-label
                            variant="warning"
                            appearance="pill"
                            v-if="item.state === 'STATE_WARNING'"
                        >
                            {{ $t('frosh-tools.warning') }}
                        </sw-label>
                        <sw-label
                            variant="danger"
                            appearance="pill"
                            v-if="item.state === 'STATE_ERROR'"
                        >
                            {{ $t('frosh-tools.error') }}
                        </sw-label>
                        <sw-label
                            variant="info"
                            appearance="pill"
                            v-if="item.state === 'STATE_INFO'"
                        >
                            {{ $t('frosh-tools.info') }}
                        </sw-label>
                    </template>

                    <template>
                        {{ item.current }}
                    </template>
                </template>

                <template #column-name="{ item }">
                    {{ item.snippet }}
                    <template v-if="item.url">
                        &nbsp;
                        <a
                            :href="item.url"
                            target="_blank"
                        >
                            {{ $t('frosh-tools.tabs.index.info') }}
                        </a>
                    </template>
                </template>
            </sw-data-grid>
            </template>
        </mt-card>
    </mt-card>
</sw-card-view>
