parameters:
    level: 8
    paths:
        - src

    ignoreErrors:
            -
                message: "#^Out of .* possible param types, only .* %% actually have it\\. Add more param types to get over .* %%$#"
                reportUnmatched: false
