parameters:
    level: 8
    paths:
        - src

    ignoreErrors:
            -
                message: "#^Out of .* possible param types, only .* %% actually have it\\. Add more param types to get over .* %%$#"
                reportUnmatched: false

            -
                message: """
                    #^Fetching class constant class of deprecated class Shopware\\\\Core\\\\Framework\\\\Adapter\\\\Cache\\\\CacheDecorator\\:
                    tag\\:v6\\.7\\.0 \\- reason\\:decoration\\-will\\-be\\-removed \\- Will be removed$#
                """
                reportUnmatched: false
                count: 1
                path: src/Components/CacheAdapter.php
