<div class="ft frosh-tab-cache">
    <ft-page-head
        :title="$t('frosh-tools.tabs.cache.title')"
        subtitle="Manage cache pools, theme compilation and PHP opcache."
    >
        <template #actions>
            <ft-refresh-button
                :loading="isLoading"
                label="Refresh"
                @click="createdComponent"
            />
            <button
                class="ft-btn"
                @click="compileTheme"
                :disabled="isLoading"
            >
                <ft-icon name="paint"/>
                <span>
                    {{ $t('frosh-tools.compileTheme') }}
                </span>
            </button>
            <button
                class="ft-btn ft-btn--primary"
                @click="clearOPcache"
                :disabled="isLoading"
            >
                <ft-icon name="bolt"/>
                <span>
                    {{ $t('frosh-tools.clearOpCache') }}
                </span>
            </button>
        </template>
    </ft-page-head>
    <ft-panel
        title="Cache pools"
        :count="cacheFolders.length"
        flush
    >
        <ft-empty
            v-if="isLoading && !cacheFolders.length"
            loading
        />
        <ft-empty
            v-else-if="!cacheFolders.length"
            title="No cache pools reported"
        />
        <div
            v-else
            class="ft-table-wrap"
        >
            <table class="ft-table">
                <thead>
                    <tr>
                        <th
                            class="ft-table__sortable"
                            :class="{ 'is-active': sortDirOf('name') }"
                            @click="toggleSort('name')"
                        >
                            {{ $t('frosh-tools.name') }}
                            <ft-icon
                                v-if="sortDirOf('name')"
                                :name="sortDirOf('name') === 'ASC' ? 'chevron-up' : 'chevron-down'"
                            />
                        </th>
                        <th
                            class="ft-table__num ft-table__sortable"
                            :class="{ 'is-active': sortDirOf('size') }"
                            @click="toggleSort('size')"
                        >
                            {{ $t('frosh-tools.used') }}
                            <ft-icon
                                v-if="sortDirOf('size')"
                                :name="sortDirOf('size') === 'ASC' ? 'chevron-up' : 'chevron-down'"
                            />
                        </th>
                        <th
                            class="ft-table__num ft-table__sortable"
                            :class="{ 'is-active': sortDirOf('freeSpace') }"
                            @click="toggleSort('freeSpace')"
                        >
                            {{ $t('frosh-tools.free') }}
                            <ft-icon
                                v-if="sortDirOf('freeSpace')"
                                :name="sortDirOf('freeSpace') === 'ASC' ? 'chevron-up' : 'chevron-down'"
                            />
                        </th>
                        <th class="ft-table__actions">
                            {{ $t('frosh-tools.actions') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="item in sortRows(cacheFolders)"
                        :key="item.name"
                    >
                        <td class="ft-table__name">
                            <div class="frosh-tab-cache__name-row">
                                <ft-pill
                                    v-if="item.active"
                                    variant="success"
                                >{{ $t('frosh-tools.active') }}</ft-pill>
                                <ft-pill
                                    v-if="item.type"
                                    variant="muted"
                                    bare
                                >{{ item.type }}</ft-pill>
                                <span>{{ item.name }}</span>
                            </div>
                        </td>
                        <td class="ft-table__num">
                            <template v-if="item.size < 0">
                                {{ $t('frosh-tools.unknown') }}
                            </template>

                            <template v-else>{{ formatSize(item.size) }}</template>
                        </td>
                        <td class="ft-table__num">
                            <template v-if="item.freeSpace < 0">
                                {{ $t('frosh-tools.unknown') }}
                            </template>

                            <template v-else>
                                {{ formatSize(item.freeSpace) }}
                            </template>
                        </td>
                        <td class="ft-table__actions">
                            <button
                                class="ft-btn ft-btn--danger"
                                @click="clearCache(item)"
                            >
                                <ft-icon name="trash"/>
                                {{ $t('frosh-tools.clear') }}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ft-panel>
</div>