.frosh-tools-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d1d9e0;
    border-radius: 4px;
    padding: 10px;

    &__label {
        font-size: 14px;
        color: #52667a;
        margin-bottom: 5px;
    }

    &__value {
        font-size: 24px;
        font-weight: bold;
        color: #2c3e50;
    }
}

.fastly-purge-url-field {
    margin-bottom: 0;
}

.sw-code-editor.fastly-code-editor .sw-code-editor__editor {
    height: 800px;
}
