<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Monitoring</title>
        <title lang="de-DE">Überwachung</title>

        <input-field type="text">
            <name>monitorMail</name>
            <label>Monitor mail address</label>
            <label lang="de-DE">Überwachungsmailadresse</label>
            <helpText>This email address is used when you use the CLI command frosh:monitor</helpText>
            <helpText lang="de-DE">Diese Mailadresse wird beim Aufruf vom CLI Kommando frosh:monitor genutzt</helpText>
        </input-field>

        <input-field type="int">
            <name>monitorQueueGraceTime</name>
            <label>Scheduled queue grace time</label>
            <label lang="de-DE">Geplante Karenzzeit der Queue</label>
            <helpText>After X minutes a queue is considered stuck / faulty</helpText>
            <helpText lang="de-DE">Nach X Minuten gilt eine Queue als festgefahren / fehlerhaft</helpText>
            <defaultValue>15</defaultValue>
        </input-field>

        <input-field type="int">
            <name>monitorTaskGraceTime</name>
            <label>Scheduled task grace time</label>
            <label lang="de-DE">Geplante Karenzzeit der Aufgabe</label>
            <helpText>After X minutes a scheduled task is considered stuck / faulty</helpText>
            <helpText lang="de-DE">Nach X Minuten gilt eine geplante Aufgabe als festgefahren / fehlerhaft</helpText>
            <defaultValue>10</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>monitorTaskSingleMail</name>
            <label>Send E-Mail only once</label>
            <label lang="de-DE">Mail nur einmal senden<</label>
            <helpText>Enable this to send only one email notification when the problem is still active.</helpText>
            <helpText lang="de-DE">Aktiviere diese Option, um nur eine E-Mail-Benachrichtigung zu senden, wenn das Problem weiterhin besteht.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="int">
            <name>monitorTaskSingleMailTime</name>
            <label>When to allow to send e-mail again</label>
            <label lang="de-DE">Wann das erneute Senden von E-Mails erlaubt ist</label>
            <helpText>Specify the time interval (in minutes) to allow resending email notifications.</helpText>
            <helpText lang="de-DE">Gib das Zeitintervall (in Minuten) an, um das erneute Senden von E-Mail-Benachrichtigungen zu ermöglichen.</helpText>
            <defaultValue>60</defaultValue>
        </input-field>
    </card>

</config>
