<div
    class="ft-empty"
    :role="loading ? 'status' : null"
>
    <template v-if="loading">
        <span
            class="ft-spinner"
            aria-hidden="true"
        ></span>
        <span class="ft-sr-only">
            {{ $t('frosh-tools.loading') }}
        </span>
    </template>

    <template v-else>
        <div
            class="ft-empty__icon"
            v-if="icon"
        >
            <ft-icon
                :name="icon"
                :size="22"
            />
        </div>
        <div
            class="ft-empty__title"
            v-if="title || $slots.title"
        >
            <slot name="title">{{ title }}</slot>
        </div>
        <div
            class="ft-empty__sub"
            v-if="sub || $slots.default"
        >
            <slot>{{ sub }}</slot>
        </div>
    </template>
</div>