.frosh-tools {
    .sw-tabs {
        width: 1330px;
        margin: 0 auto;
    }

    .sw-card-view__content {
        padding-top: 0;
    }
    .sw-card-view {
        position: initial;
        height: initial;
        width: initial;
    }
}

.sw-version__status.has-permission {
    cursor: pointer;
}
