<sw-page class="frosh-tools">
    <template #content>
        <div class="ft ft-shell">
            <aside class="ft-sidebar">
                <div class="ft-sidebar__brand">
                    <div class="ft-sidebar__brand-mark">FT</div>
                    <div>
                        <div class="ft-sidebar__brand-title">{{ $t('frosh-tools.title') }}</div>
                        <div class="ft-sidebar__brand-sub">Developer Console</div>
                    </div>
                </div>

                <template v-for="group in navGroups" :key="group.label">
                    <div class="ft-sidebar__group" v-if="group.items.length">
                        <div class="ft-sidebar__group-label">{{ group.label }}</div>
                        <router-link
                            v-for="item in group.items"
                            :key="item.route"
                            :to="{ name: item.route }"
                            class="ft-sidebar__item"
                            active-class="is-active"
                        >
                            <span class="ft-sidebar__item-dot"></span>
                            <span>{{ $t(item.labelKey) }}</span>
                        </router-link>
                    </div>
                </template>
            </aside>

            <main class="ft-main">
                <router-view></router-view>
            </main>
        </div>
    </template>
</sw-page>
