<th
    class="ft-table__sortable"
    :class="{ 'is-active': dir }"
    :aria-sort="ariaSort"
>
    <button
        type="button"
        class="ft-table__sort-btn"
        @click="onClick"
    >
        <span class="ft-table__sort-label">
            <slot/>
        </span>
        <ft-icon
            v-if="dir"
            :name="dir === 'ASC' ? 'chevron-up' : 'chevron-down'"
        />
    </button>
</th>