<div class="ft frosh-tab-sm">
    <ft-page-head
        :title="$t('frosh-tools.tabs.state-machines.title')"
        :subtitle="$t('frosh-tools.tabs.state-machines.subtitle')"
    />
    <ft-hero-state
        v-if="loadError"
        variant="danger"
        icon="alert"
        :title="$t('frosh-tools.loadError.title')"
        :body="loadError"
    >
        <template #actions>
            <ft-button
                icon="refresh"
                @click="createdComponent"
            >
                {{ $t('frosh-tools.loadError.retry') }}
            </ft-button>
        </template>
    </ft-hero-state>
    <ft-panel
        v-else
        :title="$t('frosh-tools.tabs.state-machines.label')"
    >
        <template #actions>
            <div class="frosh-tab-sm__select">
                <sw-single-select
                    v-model:value="selectedStateMachine"
                    :options="stateMachineOptions"
                    :aside="true"
                    :disable-search-function="true"
                    @update:value="onStateMachineChange"
                    :placeholder="$t('frosh-tools.chooseStateMachine')"
                />
            </div>
        </template>
        <div class="frosh-tab-sm__body">
            <ft-empty
                v-if="!selectedStateMachine"
                icon="flow"
                :title="$t('frosh-tools.tabs.state-machines.noSelection')"
                :sub="$t('frosh-tools.tabs.state-machines.noSelectionHint')"
            />
            <div
                id="state_machine"
                class="frosh-tab-sm__canvas"
                v-show="selectedStateMachine"
            ></div>
        </div>
    </ft-panel>
</div>