<sw-card-view>
    <sw-card
        class="frosh-tools-tab-state-machines__state-machines-card"
        :title="$tc('frosh-tools.tabs.state-machines.title')"
        :isLoading="isLoading"
        :large="true"
        positionIdentifier="frosh-tools-tab-state-machines"
    >

        <div class="frosh-tools-tab-state-machines__state-machines-card-image-wrapper">
            <img id="state_machine"
                 class="frosh-tools-tab-state-machines__state-machines-card-image"
                 type="image/svg+xml"
                 src="/bundles/administration/static/img/empty-states/media-empty-state.svg"
                 alt="State Machine"
                 width="100%"
                 height="auto"
                 style="text-align:center; display:inline-block; opacity:0;"
            />
        </div>

        <template #toolbar>
            <sw-entity-single-select
                v-model="selectedStateMachine"
                entity="state_machine"
                :aside="true"
                {% if VUE3 %}
                    @update:value="onStateMachineChange"
                {% else %}
                    @change="onStateMachineChange"
                {% endif %}
                :label="$tc('frosh-tools.tabs.state-machines.label')"
                :placeholder="$tc('frosh-tools.chooseStateMachine')"
                :helpText="$tc('frosh-tools.tabs.state-machines.helpText')"
            />
        </template>
    </sw-card>
</sw-card-view>
