<sw-card-view>
    <sw-card class="frosh-tools-tab-files__files-card"
             :class="isLoadingClass"
             :title="$tc('frosh-tools.tabs.files.title')"
             :isLoading="isLoading"
             :large="true"
            positionIdentifier="frosh-tools-tab-files__files-card">
        <sw-alert variant="error" v-if="items.error">{{ items.error }}</sw-alert>

        <sw-alert variant="success" v-if="items.ok">{{ $tc('frosh-tools.tabs.files.allFilesOk') }}</sw-alert>
        <sw-alert variant="warning" v-else-if="items.files">{{ $tc('frosh-tools.tabs.files.notOk') }}</sw-alert>

        <template #toolbar>
            <!-- @todo: Make the refresh button fancy -->
            <sw-button variant="ghost" @click="refresh">
                <sw-icon :small="true" name="regular-undo"></sw-icon>
            </sw-button>
        </template>

        <sw-data-grid
                v-if="items.files && items.files.length"
                :showSelection="false"
                :dataSource="items.files"
                :columns="columns">

            <template #column-name="{ item }">
                <a @click="diff(item)" :title="$tc('frosh-tools.tabs.files.restore.diff')">{{ item.name }}</a>
            </template>

            <template #column-expected="{ item }">
                <span v-if="item.expected">{{ $tc('frosh-tools.tabs.files.expectedProject') }}</span>
                <span v-else>{{ $tc('frosh-tools.tabs.files.expectedAll') }}</span>
            </template>

            <template #actions="{ item }">
                <sw-context-menu-item @click="openUrl(item.shopwareUrl)">
                    {{ $tc('frosh-tools.tabs.files.openOriginal') }}
                </sw-context-menu-item>
                <sw-context-menu-item @click="diff(item)">
                    {{ $tc('frosh-tools.tabs.files.restore.diff') }}
                </sw-context-menu-item>
            </template>
        </sw-data-grid>
    </sw-card>

    <sw-modal v-if="showModal"
              variant="large"
              @modal-close="closeModal"
              :title="diffData.file.name">

        <span style="white-space: pre" v-html="diffData.html"></span>

        <template #modal-footer>
            <sw-button variant="ghost-danger"
                       @click="restoreFile(diffData.file.name)"
                       :disabled="diffData.file.expected">
                <sw-icon name="regular-exclamation-triangle"></sw-icon>
                {{ $tc('frosh-tools.tabs.files.restore.restoreFile') }}
            </sw-button>
        </template>
    </sw-modal>
</sw-card-view>
