<div class="ft frosh-tab-queue">
    <ft-page-head
        :title="$t('frosh-tools.tabs.queue.title')"
        subtitle="Pending messages waiting to be processed."
    >
        <template #actions>
            <ft-refresh-button
                :loading="isLoading"
                label="Refresh"
                @click="refresh"
            />
            <button
                class="ft-btn ft-btn--danger"
                @click="showResetModal = true"
            >
                <ft-icon name="trash"/>
                <span>
                    {{ $t('frosh-tools.resetQueue') }}
                </span>
            </button>
        </template>
    </ft-page-head>
    <ft-panel
        title="Active queues"
        :count="queueEntries.length"
        flush
    >
        <ft-empty
            v-if="isLoading && !queueEntries.length"
            loading
        />
        <ft-empty
            v-else-if="!queueEntries.length"
            icon="check"
            title="No pending messages"
            sub="All workers are caught up."
        />
        <div
            v-else
            class="ft-table-wrap"
        >
            <table class="ft-table">
                <thead>
                    <tr>
                        <th>{{ $t('frosh-tools.name') }}</th>
                        <th class="ft-table__num">{{ $t('frosh-tools.size') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="(item, idx) in queueEntries"
                        :key="idx"
                    >
                        <td class="ft-table__name">{{ item.name }}</td>
                        <td class="ft-table__num">
                            {{ Number(item.size).toLocaleString() }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ft-panel>
    <ft-modal
        v-if="showResetModal"
        :title="$t('frosh-tools.tabs.queue.reset.modal.title')"
        variant="small"
        @close="showResetModal = false"
    >
        {{ $t('frosh-tools.tabs.queue.reset.modal.description') }}
        <template #footer>
            <button
                class="ft-btn"
                @click="showResetModal = false"
            >
                {{ $t('global.default.cancel') }}
            </button>
            <button
                class="ft-btn ft-btn--primary"
                @click="resetQueue"
            >
                {{ $t('frosh-tools.tabs.queue.reset.modal.reset') }}
            </button>
        </template>
    </ft-modal>
</div>