name: Code Style
on:
    workflow_dispatch:
    pull_request:
    push:
        branches:
            - main

jobs:
    php-cs-fixer:
        uses: FriendsOfShopware/actions/.github/workflows/php-cs-fixer.yml@main
    phpstan:
        uses: FriendsOfShopware/actions/.github/workflows/phpstan.yml@main
